<h1>Profile</h1>

<h2>Create New Character</h2>
<Form action="/save_character" method = "post">
  <input type="text" name="query_name">
  <select class="form-select" aria-label="level input" name="level">
    <option selected>Choose your level</option>
    <% 20.times do |lvl|%>
      <option><%=lvl+1%></option>
    <%end%>
  </select>
  <div class="stats">
    <div class="stats_label">
      <p>Strength</p>
      <select class="form-select" aria-label="strength input" name ="strength_score">
        <option selected>Choose your Strength</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Dexterity</p>
      <select class="form-select" aria-label="dexterity input" name ="dexterity_score">
        <option selected>Choose your dexterity</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Constitution</p>
      <select class="form-select" aria-label="constitution input" name ="constitution_score">
        <option selected>Choose your Constitution</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Intelligence</p>
      <select class="form-select" aria-label="intelligence input" name ="intelligence_score">
        <option selected>Choose your Intelligence</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Wisdom</p>
      <select class="form-select" aria-label="wisdom input" name ="wisdom_score">
        <option selected>Choose your Wisdom</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Charisma</p>
      <select class="form-select" aria-label="Charisma input" name ="charisma_score">
        <option selected>Choose your Charisma</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
  </div>
  <select class="form-select" aria-label="race input" name ="race">
    <option selected>Choose your race</option>
    <% @races.each do |race|%>
      <option value="<%=race.fetch("index")%>"><%=race.fetch("name")%></option>
    <%end%>
  </select>
  <select class="form-select" aria-label="class input" name ="clas">
    <option selected>Choose your class</option>
    <% @classes.each do |clas|%>
      <option value="<%=clas.fetch("index")%>"><%=clas.fetch("name")%></option>
    <%end%>
  </select>
  <select class="form-select" aria-label="background input" name ="background">
    <option selected>Choose your background</option>
    <% @backgrounds.each do |background|%>
      <option value="<%=background.fetch("index")%>"><%=background.fetch("name")%></option>
    <%end%>
  </select>
  <button>
    Save Character
  </button>

</Form>
