<h1>Profile</h1>

<a href="/characters"}>View Characters</a>


<h2>Create New Character</h2>
<Form action="/save_character" method = "post">
  Name<input type="text" name="query_name">
  <select class="form-select" aria-label="level input" name="level">
    <option selected>Choose your level</option>
    <% 20.times do |lvl|%>
      <option><%=lvl+1%></option>
    <%end%>
  </select>
  <div class="stats">
    <div class="stats_label">
      <p>Strength</p>
      <select class="form-select" aria-label="strength input" name ="strength_score">
        <option selected>Choose your Strength</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Dexterity</p>
      <select class="form-select" aria-label="dexterity input" name ="dexterity_score">
        <option selected>Choose your dexterity</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Constitution</p>
      <select class="form-select" aria-label="constitution input" name ="constitution_score">
        <option selected>Choose your Constitution</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Intelligence</p>
      <select class="form-select" aria-label="intelligence input" name ="intelligence_score">
        <option selected>Choose your Intelligence</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Wisdom</p>
      <select class="form-select" aria-label="wisdom input" name ="wisdom_score">
        <option selected>Choose your Wisdom</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
    <div class="stats_label">
      <p>Charisma</p>
      <select class="form-select" aria-label="Charisma input" name ="charisma_score">
        <option selected>Choose your Charisma</option>
        <% 20.times do |scr|%>
          <option><%=scr+1%></option>
        <%end%>
      </select>
    </div>
  </div>
  <select class="form-select" aria-label="race input" name ="race">
    <option selected>Choose your race</option>
    <% @races.each do |race|%>
      <option value="<%=race.fetch("index")%>"><%=race.fetch("name")%></option>
    <%end%>
  </select>
  <select class="form-select" aria-label="class input" name ="clas">
    <option selected>Choose your class</option>
    <% @classes.each do |clas|%>
      <option value="<%=clas.fetch("index")%>"><%=clas.fetch("name")%></option>
    <%end%>
  </select>
  <select class="form-select" aria-label="background input" name ="background">
    <option selected>Choose your background</option>
    <% @backgrounds.each do |background|%>
      <option value="<%=background.fetch("index")%>"><%=background.fetch("name")%></option>
    <%end%>
  </select>
    <h2>
      Add a new character prof
    </h2>
      <div>
        <input type="checkbox" id="str_save_box" name="query_str_save" value="1">

        <label for="str_save_box">Str save</label>
      </div>

      <div>
        <input type="checkbox" id="dex_save_box" name="query_dex_save" value="1">

        <label for="dex_save_box">Dex save</label>
      </div>

      <div>
        <input type="checkbox" id="con_save_box" name="query_con_save" value="1">

        <label for="con_save_box">Con save</label>
      </div>

      <div>
        <input type="checkbox" id="int_save_box" name="query_int_save" value="1">

        <label for="int_save_box">Int save</label>
      </div>

      <div>
        <input type="checkbox" id="wis_save_box" name="query_wis_save" value="1">

        <label for="wis_save_box">Wis save</label>
      </div>

      <div>
        <input type="checkbox" id="chr_save_box" name="query_chr_save" value="1">

        <label for="chr_save_box">Chr save</label>
      </div>

      <div>
        <input type="checkbox" id="athletics_box" name="query_athletics" value="1">

        <label for="athletics_box">Athletics</label>
      </div>

      <div>
        <input type="checkbox" id="acrobatics_box" name="query_acrobatics" value="1">

        <label for="acrobatics_box">Acrobatics</label>
      </div>

      <div>
        <input type="checkbox" id="sleight_of_hand_box" name="query_sleight_of_hand" value="1">

        <label for="sleight_of_hand_box">Sleight of hand</label>
      </div>

      <div>
        <input type="checkbox" id="stealth_box" name="query_stealth" value="1">

        <label for="stealth_box">Stealth</label>
      </div>

      <div>
        <input type="checkbox" id="arcana_box" name="query_arcana" value="1">

        <label for="arcana_box">Arcana</label>
      </div>

      <div>
        <input type="checkbox" id="history_box" name="query_history" value="1">

        <label for="history_box">History</label>
      </div>

      <div>
        <input type="checkbox" id="investigation_box" name="query_investigation" value="1">

        <label for="investigation_box">Investigation</label>
      </div>

      <div>
        <input type="checkbox" id="nature_box" name="query_nature" value="1">

        <label for="nature_box">Nature</label>
      </div>

      <div>
        <input type="checkbox" id="religion_box" name="query_religion" value="1">

        <label for="religion_box">Religion</label>
      </div>

      <div>
        <input type="checkbox" id="animal_handling_box" name="query_animal_handling" value="1">

        <label for="animal_handling_box">Animal handling</label>
      </div>

      <div>
        <input type="checkbox" id="insight_box" name="query_insight" value="1">

        <label for="insight_box">Insight</label>
      </div>

      <div>
        <input type="checkbox" id="medicine_box" name="query_medicine" value="1">

        <label for="medicine_box">Medicine</label>
      </div>

      <div>
        <input type="checkbox" id="perception_box" name="query_perception" value="1">

        <label for="perception_box">Perception</label>
      </div>

      <div>
        <input type="checkbox" id="survival_box" name="query_survival" value="1">

        <label for="survival_box">Survival</label>
      </div>

      <div>
        <input type="checkbox" id="deception_box" name="query_deception" value="1">

        <label for="deception_box">Deception</label>
      </div>

      <div>
        <input type="checkbox" id="intimidation_box" name="query_intimidation" value="1">

        <label for="intimidation_box">Intimidation</label>
      </div>

      <div>
        <input type="checkbox" id="persuasion_box" name="query_persuasion" value="1">

        <label for="persuasion_box">Persuasion</label>
      </div>

      <div>
        <input type="checkbox" id="performance_box" name="query_performance" value="1">

        <label for="performance_box">Performance</label>
      </div>
  <button>
    Save Character
  </button>

</Form>
