<div>
  <div>
    <a href="/characters">View Characters</a>
  </div>
  <div>
    <a href="/modify_character_prof/:path_id">Add Proficiencies</a>
  </div>
  <div>
    <h2>
      Edit character
    </h2>

    <form action="/modify_character/<%= @the_character.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_character.name %>">
      </div>

      <div>
        <label for="class_box">
          Class
        </label>

        <select type="text" id="class_box" name="query_class" value="<%= @the_character.clas %>">
          <% @classes.each do |clas|%>
            <option value="<%=clas.fetch("index")%>"><%=clas.fetch("name")%></option>
          <%end%>
        </select>
      </div>

      <div>
        <label for="level_box">
          Level
        </label>

        <select type="text" id="level_box" name="query_level" value="<%= @the_character.level %>">
          <% 20.times do |lvl|%>
            <option><%=lvl+1%></option>
          <%end%>
        </select>
      </div>


        <div>
          <label for="str_score_box">
            Str score
          </label>

          <input type="text" id="str_score_box" name="query_str_score" value="<%= @the_character.str_score %>">
        </div>

        <div>
          <label for="dex_score_box">
            Dex score
          </label>

          <input type="text" id="dex_score_box" name="query_dex_score" value="<%= @the_character.dex_score %>">

        </div>

        <div>
          <label for="con_score_box">
            Con score
          </label>

          <input type="text" id="con_score_box" name="query_con_score" value="<%= @the_character.con_score %>">

        </div>

        <div>
          <label for="int_score_box">
            Int score
          </label>

          <input type="text" id="int_score_box" name="query_int_score" value="<%= @the_character.int_score %>">

        </div>

        <div>
          <label for="wis_score_box">
            Wis score
          </label>

          <input type="text" id="wis_score_box" name="query_wis_score" value="<%= @the_character.wis_score %>">

        </div>

        <div>
          <label for="cha_score_box">
            Cha score
          </label>

          <input type="text" id="cha_score_box" name="query_cha_score" value="<%= @the_character.cha_score %>">
        </div>

        <div>
          <label for="total_hp_box">
            Total hp
          </label>

          <input type="text" id="total_hp_box" name="query_total_hp" value="<%= @the_character.total_hp %>">
        </div>

        <div>
          <label for="current_hp_box">
            Current hp
          </label>

          <input type="text" id="current_hp_box" name="query_current_hp" value="<%= @the_character.current_hp %>">
        </div>

        <div>
          <label for="gold_box">
            Gold
          </label>

          <input type="text" id="gold_box" name="query_gold" value="<%= @the_character.gold %>">
        </div>

        <button>
          Update character
        </button>
      </div>
    </form>
  </div>
