<div>
  <div>
    <h1>
      List of all characters
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new character
    </h2>

    <form action="/insert_character" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="class_box">
          Class
        </label>

        <input type="text" id="class_box" name="query_class">
      </div>

      <div>
        <label for="level_box">
          Level
        </label>

        <input type="text" id="level_box" name="query_level">
      </div>

      <div>
        <label for="race_box">
          Race
        </label>

        <input type="text" id="race_box" name="query_race">
      </div>

      <div>
        <label for="sub_race_box">
          Sub race
        </label>

        <input type="text" id="sub_race_box" name="query_sub_race">
      </div>

      <div>
        <label for="background_box">
          Background
        </label>

        <input type="text" id="background_box" name="query_background">
      </div>

      <div>
        <label for="str_score_box">
          Str score
        </label>

        <input type="text" id="str_score_box" name="query_str_score">
      </div>

      <div>
        <label for="dex_score_box">
          Dex score
        </label>

        <input type="text" id="dex_score_box" name="query_dex_score">
      </div>

      <div>
        <label for="con_score_box">
          Con score
        </label>

        <input type="text" id="con_score_box" name="query_con_score">
      </div>

      <div>
        <label for="int_score_box">
          Int score
        </label>

        <input type="text" id="int_score_box" name="query_int_score">
      </div>

      <div>
        <label for="wis_score_box">
          Wis score
        </label>

        <input type="text" id="wis_score_box" name="query_wis_score">
      </div>

      <div>
        <label for="cha_score_box">
          Cha score
        </label>

        <input type="text" id="cha_score_box" name="query_cha_score">
      </div>

      <div>
        <label for="total_hp_box">
          Total hp
        </label>

        <input type="text" id="total_hp_box" name="query_total_hp">
      </div>

      <div>
        <label for="current_hp_box">
          Current hp
        </label>

        <input type="text" id="current_hp_box" name="query_current_hp">
      </div>

      <div>
        <label for="gold_box">
          Gold
        </label>

        <input type="text" id="gold_box" name="query_gold">
      </div>

      <button>
        Create character
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Class
        </th>

        <th>
          Level
        </th>

        <th>
          Race
        </th>

        <th>
          Sub race
        </th>

        <th>
          Background
        </th>

        <th>
          Str score
        </th>

        <th>
          Dex score
        </th>

        <th>
          Con score
        </th>

        <th>
          Int score
        </th>

        <th>
          Wis score
        </th>

        <th>
          Cha score
        </th>

        <th>
          Total hp
        </th>

        <th>
          Current hp
        </th>

        <th>
          Gold
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_characters.each do |a_character| %>
      <tr>
        <td>
          <%= a_character.id %>
        </td>

        <td>
          <%= a_character.name %>
        </td>

        <td>
          <%= a_character.class %>
        </td>

        <td>
          <%= a_character.level %>
        </td>

        <td>
          <%= a_character.race %>
        </td>

        <td>
          <%= a_character.sub_race %>
        </td>

        <td>
          <%= a_character.background %>
        </td>

        <td>
          <%= a_character.str_score %>
        </td>

        <td>
          <%= a_character.dex_score %>
        </td>

        <td>
          <%= a_character.con_score %>
        </td>

        <td>
          <%= a_character.int_score %>
        </td>

        <td>
          <%= a_character.wis_score %>
        </td>

        <td>
          <%= a_character.cha_score %>
        </td>

        <td>
          <%= a_character.total_hp %>
        </td>

        <td>
          <%= a_character.current_hp %>
        </td>

        <td>
          <%= a_character.gold %>
        </td>

        <td>
          <%= time_ago_in_words(a_character.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_character.updated_at) %> ago
        </td>

        <td>
          <a href="/characters/<%= a_character.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
