<div>
  <div>
    <h1>
      List of all characters
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1" class="simple">
      <tr>

        <th>
          Name
        </th>

        <th>
          Class
        </th>

        <th>
          Level
        </th>

        <th>
          Race
        </th>

        <th>
          Sub race
        </th>

        <th>
          Background
        </th>

        <th>
          Str score
        </th>

        <th>
          Dex score
        </th>

        <th>
          Con score
        </th>

        <th>
          Int score
        </th>

        <th>
          Wis score
        </th>

        <th>
          Cha score
        </th>

        <th>
          Total hp
        </th>

        <th>
          Current hp
        </th>

        <th>
          Gold
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_characters.each do |a_character| %>
        <tr>
          <%if a_character.users_id == current_user.id%>

            <td>
              <%= a_character.name %>
            </td>

            <td>
              <%= a_character.clas %>
            </td>

            <td>
              <%= a_character.level %>
            </td>

            <td>
              <%= a_character.race %>
            </td>

            <td>
              <%= a_character.sub_race %>
            </td>

            <td>
              <%= a_character.background %>
            </td>

            <td>
              <%= a_character.str_score %>
            </td>

            <td>
              <%= a_character.dex_score %>
            </td>

            <td>
              <%= a_character.con_score %>
            </td>

            <td>
              <%= a_character.int_score %>
            </td>

            <td>
              <%= a_character.wis_score %>
            </td>

            <td>
              <%= a_character.cha_score %>
            </td>

            <td>
              <%= a_character.total_hp %>
            </td>

            <td>
              <%= a_character.current_hp %>
            </td>

            <td>
              <%= a_character.gold %>
            </td>

            <td>
              <a href="/characters/<%= a_character.id %>" class="btn btn-outline-primary">
                Character Sheet
              </a>
            </td>
            <td>
              <a href="/characters_edit/<%= a_character.id %>" class="btn btn-outline-secondary">
                edit
              </a>
            </td>
            <td>
              <a href="/delete_character/<%= a_character.id %>" class="btn btn-outline-danger">
                Delete
              </a>
            </td>
          <%end%>
        </tr>

      <% end %>
    </table>
  </div>
</div>

<hr>
