<div>
  <div>
    <h1>
      List of all characters
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          Class
        </th>

        <th>
          Level
        </th>

        <th>
          Race
        </th>

        <th>
          Sub race
        </th>

        <th>
          Background
        </th>

        <th>
          Str score
        </th>

        <th>
          Dex score
        </th>

        <th>
          Con score
        </th>

        <th>
          Int score
        </th>

        <th>
          Wis score
        </th>

        <th>
          Cha score
        </th>

        <th>
          Total hp
        </th>

        <th>
          Current hp
        </th>

        <th>
          Gold
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_characters.each do |a_character| %>
        <tr>
          <%if a_character.users_id == current_user.id%>

            <td>
              <%= a_character.name %>
            </td>

            <td>
              <%= a_character.clas %>
            </td>

            <td>
              <%= a_character.level %>
            </td>

            <td>
              <%= a_character.race %>
            </td>

            <td>
              <%= a_character.sub_race %>
            </td>

            <td>
              <%= a_character.background %>
            </td>

            <td>
              <%= a_character.str_score %>
            </td>

            <td>
              <%= a_character.dex_score %>
            </td>

            <td>
              <%= a_character.con_score %>
            </td>

            <td>
              <%= a_character.int_score %>
            </td>

            <td>
              <%= a_character.wis_score %>
            </td>

            <td>
              <%= a_character.cha_score %>
            </td>

            <td>
              <%= a_character.total_hp %>
            </td>

            <td>
              <%= a_character.current_hp %>
            </td>

            <td>
              <%= a_character.gold %>
            </td>

            <td>
              <a href="/characters/<%= a_character.id %>">
                Character Sheet
              </a>
            </td>
            <td>
              <a href="/characters_edit/<%= a_character.id %>">
                edit
              </a>
            </td>
            <td>
              <a href="/delete_character/<%= a_character.id %>">
                Delete character
              </a>
            </td>
          <%end%>
        </tr>

      <% end %>
    </table>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Add a new character
    </h2>

    <Form action="/save_character" method = "post">
      <input type="text" name="query_name">
      <select class="form-select" aria-label="level input" name="level">
        <option selected>Choose your level</option>
        <% 20.times do |lvl|%>
          <option><%=lvl+1%></option>
        <%end%>
      </select>
      <div class="stats">
        <div class="stats_label">
          <p>Strength</p>
          <select class="form-select" aria-label="strength input" name ="strength_score">
            <option selected>Choose your Strength</option>
            <% 20.times do |scr|%>
              <option><%=scr+1%></option>
            <%end%>
          </select>
        </div>
        <div class="stats_label">
          <p>Dexterity</p>
          <select class="form-select" aria-label="dexterity input" name ="dexterity_score">
            <option selected>Choose your dexterity</option>
            <% 20.times do |scr|%>
              <option><%=scr+1%></option>
            <%end%>
          </select>
        </div>
        <div class="stats_label">
          <p>Constitution</p>
          <select class="form-select" aria-label="constitution input" name ="constitution_score">
            <option selected>Choose your Constitution</option>
            <% 20.times do |scr|%>
              <option><%=scr+1%></option>
            <%end%>
          </select>
        </div>
        <div class="stats_label">
          <p>Intelligence</p>
          <select class="form-select" aria-label="intelligence input" name ="intelligence_score">
            <option selected>Choose your Intelligence</option>
            <% 20.times do |scr|%>
              <option><%=scr+1%></option>
            <%end%>
          </select>
        </div>
        <div class="stats_label">
          <p>Wisdom</p>
          <select class="form-select" aria-label="wisdom input" name ="wisdom_score">
            <option selected>Choose your Wisdom</option>
            <% 20.times do |scr|%>
              <option><%=scr+1%></option>
            <%end%>
          </select>
        </div>
        <div class="stats_label">
          <p>Charisma</p>
          <select class="form-select" aria-label="Charisma input" name ="charisma_score">
            <option selected>Choose your Charisma</option>
            <% 20.times do |scr|%>
              <option><%=scr+1%></option>
            <%end%>
          </select>
        </div>
      </div>
      <select class="form-select" aria-label="race input" name ="race">
        <option selected>Choose your race</option>
        <% @races.each do |race|%>
          <option value="<%=race.fetch("index")%>"><%=race.fetch("name")%></option>
        <%end%>
      </select>
      <select class="form-select" aria-label="class input" name ="clas">
        <option selected>Choose your class</option>
        <% @classes.each do |clas|%>
          <option value="<%=clas.fetch("index")%>"><%=clas.fetch("name")%></option>
        <%end%>
      </select>
      <select class="form-select" aria-label="background input" name ="background">
        <option selected>Choose your background</option>
        <% @backgrounds.each do |background|%>
          <option value="<%=background.fetch("index")%>"><%=background.fetch("name")%></option>
        <%end%>
      </select>
      <button>
        Save Character
      </button>

    </Form>
  </div>
</div>
