<div>
  <div>
    <h1>
      <%= @the_character.name %> details
    </h1>

    <div>
      <div>
        <a href="/characters_edit/<%= @the_character.id %>">
          Edit
        </a>
      </div>
    </div>

    <dl>
      <div class="stats">
        <div class="stats_lavel">
          <dt>
            Class
          </dt>
          <dd>
            <%= @the_character.clas %>
          </dd>
        </div>
        <div class="stats_lavel">
          <dt>
            Level
          </dt>
          <dd>
            <%= @the_character.level %>
          </dd>
        </div>
        <div class="stats_lavel">
          <dt>
            Background
          </dt>
          <dd>
            <%= @the_character.background %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Race
          </dt>
          <dd>
            <%= @the_character.race %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Sub race
          </dt>
          <dd>
            <%= @the_character.sub_race %>
          </dd>
        </div>
        <div class="stats_lavel">
          <dt>
            Total hp
          </dt>
          <dd>
            <%= @the_character.total_hp %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Current hp
          </dt>
          <dd>
            <%= @the_character.current_hp %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Gold
          </dt>
          <dd>
            <%= @the_character.gold %>
          </dd>
        </div>

      </div>
      <div class="stats">
        <div class="stats_label">
          <dt>
            Ability
          </dt>
          <dd>
            Score
          </dd>
          <dd>
            Modifier
          </dd>
          <dd>
            Skill
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Strength
          </dt>
          <dd>
            <%= @the_character.str_score %>
          </dd>
          <dd>
            <% if @the_character.str_score-10 > 1%>
              +<%= (@the_character.str_score-10)/2%>
            <%else%>
              <%= (@the_character.str_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.str_score-10 > 1%>
              Athletics +<%= (@the_character.str_score-10)/2%>
            <%else%>
              Athletics <%= (@the_character.str_score-10)/2%>
            <%end%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Dexterity
          </dt>
          <dd>
            <%= @the_character.dex_score %>
          </dd>
          <dd>
            <% if @the_character.dex_score-10 > 1%>
              +<%= (@the_character.dex_score-10)/2%>
            <%else%>
              <%= (@the_character.dex_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.dex_score-10 > 1%>
              Acrobatics +<%= (@the_character.dex_score-10)/2%>
            <%else%>
              Acrobatics <%= (@the_character.dex_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.dex_score-10 > 1%>
              Sleight of Hand +<%= (@the_character.dex_score-10)/2%>
            <%else%>
              Sleight of Hand <%= (@the_character.dex_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.dex_score-10 > 1%>
              Stealth +<%= (@the_character.dex_score-10)/2%>
            <%else%>
              Stealth <%= (@the_character.dex_score-10)/2%>
            <%end%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Constitution
          </dt>
          <dd>
            <%= @the_character.con_score %>
          </dd>
          <dd>
            <% if @the_character.con_score-10 > 1%>
              +<%= (@the_character.con_score-10)/2%>
            <%else%>
              <%= (@the_character.con_score-10)/2%>
            <%end%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Intelligence
          </dt>
          <dd>
            <%= @the_character.int_score %>
          </dd>
          <dd>
            <% if @the_character.int_score-10 > 1%>
              +<%= (@the_character.int_score-10)/2%>
            <%else%>
              <%= (@the_character.int_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.int_score-10 > 1%>
              Arcana +<%= (@the_character.int_score-10)/2%>
            <%else%>
              Arcana <%= (@the_character.int_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.int_score-10 > 1%>
              History +<%= (@the_character.int_score-10)/2%>
            <%else%>
              History <%= (@the_character.int_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.int_score-10 > 1%>
              Nature +<%= (@the_character.int_score-10)/2%>
            <%else%>
              Nature <%= (@the_character.int_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.int_score-10 > 1%>
              Investigation +<%= (@the_character.int_score-10)/2%>
            <%else%>
              Investigation <%= (@the_character.int_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.int_score-10 > 1%>
              Religion +<%= (@the_character.int_score-10)/2%>
            <%else%>
              Religion <%= (@the_character.int_score-10)/2%>
            <%end%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Wisdom
          </dt>
          <dd>
            <%= @the_character.wis_score %>
          </dd>
          <dd>
            <% if @the_character.wis_score-10 > 1%>
              +<%= (@the_character.wis_score-10)/2%>
            <%else%>
              <%= (@the_character.wis_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.wis_score-10 > 1%>
              Animal Handling +<%= (@the_character.wis_score-10)/2%>
            <%else%>
              Animal Handling <%= (@the_character.wis_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.wis_score-10 > 1%>
              Insight +<%= (@the_character.wis_score-10)/2%>
            <%else%>
              Insight <%= (@the_character.wis_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.wis_score-10 > 1%>
              Medicine +<%= (@the_character.wis_score-10)/2%>
            <%else%>
              Medicine <%= (@the_character.wis_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.wis_score-10 > 1%>
              Perception +<%= (@the_character.wis_score-10)/2%>
            <%else%>
              Perception <%= (@the_character.wis_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.wis_score-10 > 1%>
              Survival +<%= (@the_character.wis_score-10)/2%>
            <%else%>
              Survival <%= (@the_character.wis_score-10)/2%>
            <%end%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Charisma
          </dt>
          <dd>
            <%= @the_character.cha_score %>
          </dd>
<dd>
            <% if @the_character.cha_score-10 > 1%>
              +<%= (@the_character.cha_score-10)/2%>
            <%else%>
              <%= (@the_character.cha_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.cha_score-10 > 1%>
              Deception +<%= (@the_character.cha_score-10)/2%>
            <%else%>
              Deception <%= (@the_character.cha_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.cha_score-10 > 1%>
              Intimidation +<%= (@the_character.cha_score-10)/2%>
            <%else%>
              Intimidation <%= (@the_character.cha_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.cha_score-10 > 1%>
              Persuasion +<%= (@the_character.cha_score-10)/2%>
            <%else%>
              Persuasion <%= (@the_character.cha_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">

            <% if @the_character.cha_score-10 > 1%>
              Performance +<%= (@the_character.cha_score-10)/2%>
            <%else%>
              Performance <%= (@the_character.cha_score-10)/2%>
            <%end%>
          </dd>
        </div>
      </div>

    </dl>
  </div>
</div>

<hr>
