<div>
  <div>
    <h1>
      <%= @the_character.name %> details
    </h1>

    <div>
      <div>
        <a href="/characters_edit/<%= @the_character.id %>">
          Edit
        </a>
      </div>
    </div>

    <dl>
      <div class="stats">
        <div class="stats_lavel">
          <dt>
            Class
          </dt>
          <dd>
            <%= @the_character.clas %>
          </dd>
        </div>
        <div class="stats_lavel">
          <dt>
            Level
          </dt>
          <dd>
            <%= @the_character.level %>
          </dd>
        </div>
        <div class="stats_lavel">
          <dt>
            Background
          </dt>
          <dd>
            <%= @the_character.background %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Race
          </dt>
          <dd>
            <%= @the_character.race %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Sub race
          </dt>
          <dd>
            <%= @the_character.sub_race %>
          </dd>
        </div>
        <div class="stats_lavel">
          <dt>
            Total hp
          </dt>
          <dd>
            <%= @the_character.total_hp %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Current hp
          </dt>
          <dd>
            <%= @the_character.current_hp %>
          </dd>
        </div>
        <div class="stats_lavel">

          <dt>
            Gold
          </dt>
          <dd>
            <%= @the_character.gold %>
          </dd>
        </div>

      </div>
      <div class="stats">
        <div class="stats_label">
          <dt>
            Ability
          </dt>
          <dd>
            Score
          </dd>
          <dd>
            Modifier
          </dd>
          <dd>
            Skill
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Strength
          </dt>
          <dd>
            <%= @the_character.str_score %>
          </dd>
          <dd>
            <% if @the_character.str_score-10 > 1%>
              +<%= (@the_character.str_score-10)/2%>
            <%else%>
              <%= (@the_character.str_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">
            Athletics <%= @profic.fetch(:athleticscheck)%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Dexterity
          </dt>
          <dd>
            <%= @the_character.dex_score %>
          </dd>
          <dd>
            <% if @the_character.dex_score-10 > 1%>
              +<%= (@the_character.dex_score-10)/2%>
            <%else%>
              <%= (@the_character.dex_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">
            Acrobatics <%= @profic.fetch(:acrobaticscheck)%>
          </dd>
          <dd class="stats">
            Sleight of Hand <%= @profic.fetch(:sleightofhandcheck)%>
          </dd>
          <dd class="stats">
            Stealth <%= @profic.fetch(:stealthcheck)%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Constitution
          </dt>
          <dd>
            <%= @the_character.con_score %>
          </dd>
          <dd>
            <% if @the_character.con_score-10 > 1%>
              +<%= (@the_character.con_score-10)/2%>
            <%else%>
              <%= (@the_character.con_score-10)/2%>
            <%end%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Intelligence
          </dt>
          <dd>
            <%= @the_character.int_score %>
          </dd>
          <dd>
            <% if @the_character.int_score-10 > 1%>
              +<%= (@the_character.int_score-10)/2%>
            <%else%>
              <%= (@the_character.int_score-10)/2%>
            <%end%>
          </dd>
          </dd>
          <dd class="stats">
            Arcana <%= @profic.fetch(:arcanacheck)%>
          </dd>
          <dd class="stats">

          <dd class="stats">
            History <%= @profic.fetch(:historycheck)%>
          </dd>
          <dd class="stats">
            Nature <%= @profic.fetch(:naturecheck)%>
          </dd>
          <dd class="stats">
            Investigation <%= @profic.fetch(:investigationcheck)%>
          </dd>
          <dd class="stats">
            Religion <%= @profic.fetch(:religioncheck)%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Wisdom
          </dt>
          <dd>
            <%= @the_character.wis_score %>
          </dd>
          <dd>
            <% if @the_character.wis_score-10 > 1%>
              +<%= (@the_character.wis_score-10)/2%>
            <%else%>
              <%= (@the_character.wis_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">
            Animal Handling <%= @profic.fetch(:animalhandlingcheck)%>
          </dd>
          <dd class="stats">
            Insight <%= @profic.fetch(:insightcheck)%>
          </dd>
          <dd class="stats">
            Medicine <%= @profic.fetch(:medicinecheck)%>
          </dd>
          <dd class="stats">
            Perception <%= @profic.fetch(:perceptioncheck)%>
          </dd>
          <dd class="stats">
            Survival <%= @profic.fetch(:survivalcheck)%>
          </dd>
        </div>
        <div class="stats_label">

          <dt>
            Charisma
          </dt>
          <dd>
            <%= @the_character.cha_score %>
          </dd>
          <dd>
            <% if @the_character.cha_score-10 > 1%>
              +<%= (@the_character.cha_score-10)/2%>
            <%else%>
              <%= (@the_character.cha_score-10)/2%>
            <%end%>
          </dd>
          <dd class="stats">
            Deception <%= @profic.fetch(:deceptioncheck)%>
          </dd>
          <dd class="stats">
            Intimidation <%= @profic.fetch(:intimidationcheck)%>
          </dd>
          <dd class="stats">
            Persuasion <%= @profic.fetch(:persuasioncheck)%>
          </dd>
          <dd class="stats">
            Performance <%= @profic.fetch(:performancecheck)%>
          </dd>
        </div>
      </div>

    </dl>
  </div>
</div>

<hr>
